@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
.header {
  background-color: #000000;
  margin: auto -16px;
  padding: 16px 32px;
}
body {
  background: rgb(22, 40, 53);
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
}
.link {
  color: #fff;
}
.header h1 {
  color: #fff;
  margin: left 10px;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.add {
  border: none;
  background: #fff;
}
.add:focus {
  border: none;
  outline: none;
}
.table {
  color: #fff;
}
label {
  color: #fff;
}
.btn {
  color: #fff;
}
.btn:hover {
  color: #fff;
}
h1 {
  color: #fff;
}
.tracker-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Courier New", Courier, monospace;
  border-spacing: 0;
  margin-top: 50px;
  font-size: 18px;
}
.add-button {
  margin-top: 20px;
}
.tracker-add {
  font-family: "Muli", sans-serif;
  margin-top: 20px;
}
.form-group {
  margin-top: 25px;
}
